.header-container {
    margin: 0% 0% 1% 0%;
    width: 100%;
    background: #3f51b5;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container {
    width: 100%;
    // max-width: 500px;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 16px;
}

.search-field {
    padding-left: 5%;
    color: white;
    flex: 1;
    margin-right: 10px;
    font-size: 18px;
}

:host ::ng-deep .mat-form-field-underline {
    background-color: white !important;
}

h1 {
    margin: 0%;
    color: white;
}

.card-container {
    margin: 5% 0%;
    display: flex;
    width: 60%;
}

app-detailed-weather {
    width: inherit;
}

.page-container {
    overflow-x: hidden;
}

@media screen and (max-width: 767px) {
    .container {
        padding: 1%;
    }

    .changeLocationButton {
        align-self: center;
        width: 50%;
    }

    .search-container {
        flex-direction: column;
        align-items: stretch;
        margin-bottom: 5%;
        padding-left: 5%;
    }

    h1 {
        font-size: 18px;
    }

    .search-field {
        font-size: 14px;
        padding-left: 0%;
    }

    .card-container {
        flex-direction: column;
    }

    app-detailed-weather {
        width: 100%;
    }

    .header-container {
        align-items: flex-start;
    }

    .multiColorButton {
        width: 30%;
    }

}