<mat-card class="container">

    <mat-form-field class="search-field">
        <input matInput placeholder="Search City" [matAutocomplete]="auto" [formControl]="cityControl">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let city of filteredCities | async" [value]="city.LocalizedName">
                {{ city.LocalizedName }}
            </mat-option>
        </mat-autocomplete>
        <button mat-button (click)="searchWeather()">Search</button>
    </mat-form-field>
</mat-card>

<app-detail-weather *ngIf="currentWeather" [currentWeather]="currentWeather"
    [cityControl]="cityControl"></app-detail-weather>

<!-- <mat-card class="mat-elevation-z5 w3-quarter" *ngIf="currentWeather" [style.background-image]="'url(' + getBackgroundImageUrl() + ')'">
    <mat-card-header>
        <mat-card-title>{{dateNameToday}}</mat-card-title>
        <mat-card-subtitle>{{ currentWeather.LocalObservationDateTime | date:'dd MMM yyyy' }}</mat-card-subtitle>
        <mat-card-subtitle>{{cityControl.value}}</mat-card-subtitle>
        <div class="flex-row">
            <div class="temp">
                <span class="big-text">{{currentWeather.Temperature.Metric.Value}}°C</span>
            </div>
            <div class="outlook">
                <span>{{currentWeather.WeatherText}}</span>
            </div>
        </div>
    </mat-card-header>
</mat-card> -->