<div class="page-container">
    <mat-card class="header-container">
        <div class="search-container">
            <h1>Search City:</h1>
            <mat-form-field class="search-field">
                <input matInput [matAutocomplete]="auto" [formControl]="cityControl">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let city of filteredCities | async" [value]="city.LocalizedName">
                        {{ city.LocalizedName }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <button class="multiColorButton" mat-button (click)="searchWeather()">Search</button>
        </div>
    </mat-card>

    <div class="card-container" >
        <app-detailed-weather [currentWeather]="currentWeather" [selectedCity]="cityName"></app-detailed-weather>
        <app-weather-cards [fiveDayForecast]="fiveDayForecast"></app-weather-cards>
    </div>
</div>