.five-day-forecast-card {
    background-color: #22313f;
    border-radius: 20px;
    float: left;
    width: 50%;
    height: 350px;
}

.five-day-forecast-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row;
}

.center {
    text-align: center;
    justify-content: center;
    display: block;
    margin: auto;
}

.weather-card {
    display: inline-block;
    background-color: #34495e;
    color: #ffffff;
    transition: background-color 0.5s;
    border-radius: 10px;
    margin: 10px;
}

.weather-card:hover {
    transform: scale(1.05);
    transition: transform 0.1s ease;
    background: #fff;
    border-radius: 10px;
    color: #191a1f;
}

h2 {
    color: white;
}
