<mat-card class="five-day-forecast-card" *ngIf="fiveDayForecast">
  <mat-card-content>
    <h2>Five-Day Forecast</h2>
    <div class="five-day-forecast-container">
      <mat-card *ngFor="let forecast of fiveDayForecast; let i = index" class="weather-card center" [ngClass]="{'first-forecast': i === 0}">
        <mat-card-header>
          <div class="weather-date">{{ forecast.Date | date:'EEEE' }}</div>
        </mat-card-header>
        <mat-card-content>
          <div>{{ forecast.Temperature.Minimum.Value | convertTemp}} - {{ forecast.Temperature.Maximum.Value | convertTemp}}</div>
          <div>Day: {{ forecast.Day.IconPhrase }}</div>
          <div>Night: {{ forecast.Night.IconPhrase }}</div>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card-content>
</mat-card>