/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);


html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    // overflow: hidden;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: whitesmoke;
}

.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.multiColorButton {
    background-image: linear-gradient(to right, rgba(0, 255, 255, 2), rgba(255, 0, 255, 5));
    color: #fff;
    font-size: 20px;
    border-radius: 6px;
    width: 22%;
    height: 36px;
}
