.favorite {
    margin-top: 5%;
}

.favorite-icon-btn {
    font-size: 50px;
    height: 50px;
    width: 50px;
}

h1 {
    font-size: 30px;
    font-weight: bold;
}

table.mat-table {
    width: 50%;
}

th {
    font-size: 16px;
    font-weight: bold;
}